<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Welcome to Flask Module</h1>
    <h3> I am Learning Flask Module Using Code with Harry</h3>
    <div>
        <p>This part gives shows the use of render using flask function</p>
    </div>
    <div>
        <a href = 'about.html'>About</a><br>
        <a href = 'index.html'>Home</a><br>
        <a href = 'bootstrap.html'>Bootstrap</a><br>
</body>
</html>